<h1 class="text-3xl font-bold text-center mt-3">
  Tareas-APP
</h1>

<div class="mt-3 flex justify-center">
  <input class="text-center" type="text" placeholder="Agregar Tarea" [(ngModel)]="newTask">
  <button class="border-2 border-indigo-500/100 bg-blue-500 text-center font-bold text-white" (click)="saveTask()" (keyup)="$event">Agregar</button>
</div>

<div class="mt-5">
  <table class=" w-44 m-auto border-collapse border border-slate-400  text-center">

    <tbody>
      <tr *ngFor="let task of tareas; let i = index;">
        <td class="border font-bold">{{ i+1 }}</td>
        <td class="pointer border {{(!task.completed)?'done': ''}} font-serif " (click)="done(i)" >{{task.todo}}</td>
        <td class="pointer border font-serif text-red-600 font-awesome" (click)="remove(i)" > <i class="fa-solid fa-rectangle-xmark" title="Eliminar Tarea"> </i> </td>
      </tr>

    </tbody>
  </table>
</div>
